p {
  color: red;
  font-size: 22pt;
}

#gruby_kosiorek {
  color: green;
  font-size: 17pt;
  font-weight: bold;
}

#dlawszystkich_kosiorek {
  color: yellow;
  font-size: 10pt;
  font-family: Arial;
}
